body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #333;
}

#search,
#filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(15% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 120px;
}

.card img {
    max-width: 100%;
}

.card-detail {
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.card-detail img {
    max-width: 100%;
}

input[type="text"],
select {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

